{% extends 'front/front_store_base.html' %}

{% block title %}

{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ static('front/css/front_store_index.css') }}">
    <script src="{{ static('front/js/front_store_index.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="up-big">
        <div class="up-small">
            <ul>
                <li class="f-pa s-f-pa" data-page="1">
                    <a href="javascript:;">
                        <img src="{{ static('images/store/bm-1.png') }}" alt="">
                    </a>
                </li>
                <li class="f-pa" data-page="2">
                    <a href="javascript:;">
                        <img src="{{ static('images/store/bm-2.png') }}" alt="">
                    </a>
                </li>
                <li class="f-pa" data-page="3">
                    <a href="javascript:;">
                        <img src="{{ static('images/store/bm-3.png') }}" alt="">
                    </a>
                </li>
                <li class="f-pa" data-page="4">
                    <a href="javascript:;">
                        <img src="{{ static('images/store/bm-4.png') }}" alt="">
                    </a>
                </li>
                <li class="f-pa" data-page="5">
                    <a href="javascript:;">
                        <img src="{{ static('images/store/bm-5.png') }}" alt="">
                    </a>
                </li>
            </ul>
            <div class="dots">
                <a href="javascript:;" data-page="1" class="a-select"></a>
                <a href="javascript:;" data-page="2"></a>
                <a href="javascript:;" data-page="3"></a>
                <a href="javascript:;" data-page="4"></a>
                <a href="javascript:;" data-page="5"></a>
            </div>
        </div>
    </div>
    <div class="mid-big">
        <div class="mid-small">
            <ul class="mid-ul">
                <li><a href="javascript:;"><img src="{{ static('images/store/tab-1.jpg') }}" style="float: left;" alt=""><span>新鲜食材</span></a></li>
                <li><a href="javascript:;"><img src="{{ static('images/store/tab-2.jpg') }}" style="float: left;" alt=""><span>电子产品</span></a></li>
                <li><a href="javascript:;" style="border-right:3px solid #b22222;"><img src="{{ static('images/store/tab-3.jpg') }}" style="float: left;" alt=""><span>儿童玩具</span></a></li>
            </ul>
        </div>
    </div>
    <div class="product-main">
        <div class="product-big">
            <div class="product-small">
                <ul class="product-ul">
                    <li>
                        <div>
                            <a href="javascript:;">
                                <img src="{{ static('images/store/main-1.jpg') }}" alt="">
                            </a>
                            <div class="product-each">
                                <a href="javascript:;">
                                <h5 style="text-align: center">
                                    <a href="javascript:;">网易云音乐无线蓝牙音箱MB1</a>
                                </h5>
                                </a>
                                <p>¥399</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:;">
                                <img src="{{ static('images/store/main-2.jpg') }}" alt="">
                            </a>
                            <div class="product-each">
                                <a href="javascript:;">
                                <h5 style="text-align: center">
                                    <a href="javascript:;">“我想和你唱”IN麦超薄 麦克风</a>
                                </h5>
                                </a>
                                <p>¥258</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:;">
                                <img src="{{ static('images/store/main-3.jpg') }}" alt="">
                            </a>
                            <div class="product-each">
                                <a href="javascript:;">
                                <h5 style="text-align: center">
                                    <a href="javascript:;">网易云音乐超大鼠标垫-吉祥物款</a>
                                </h5>
                                </a>
                                <p>¥49</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:;">
                                <img src="{{ static('images/store/main-4.jpg') }}" alt="">
                            </a>
                            <div class="product-each">
                                <a href="javascript:;">
                                <h5 style="text-align: center">
                                    <a href="javascript:;">本来设计 原创木质冰箱磁贴 创意礼品生日礼物</a>
                                </h5>
                                </a>
                                <p>¥59</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:;">
                                <img src="{{ static('images/store/main-5.jpg') }}" alt="">
                            </a>
                            <div class="product-each">
                                <a href="javascript:;">
                                <h5 style="text-align: center">
                                    <a href="javascript:;">1MORE 1M301 好声音入耳式耳机</a>
                                </h5>
                                </a>
                                <p>¥119</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:;">
                                <img src="{{ static('images/store/main-6.jpg') }}" alt="">
                            </a>
                            <div class="product-each">
                                <a href="javascript:;">
                                <h5 style="text-align: center">
                                    <a href="javascript:;">本来设计 原木质音乐盒八音盒</a>
                                </h5>
                                </a>
                                <p>¥178</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:;">
                                <img src="{{ static('images/store/main-7.jpg') }}" alt="">
                            </a>
                            <div class="product-each">
                                <a href="javascript:;">
                                <h5 style="text-align: center">
                                    <a href="javascript:;">网易云音乐经典红笔记本迷你版</a>
                                </h5>
                                </a>
                                <p>¥25</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:;">
                                <img src="{{ static('images/store/main-8.jpg') }}" alt="">
                            </a>
                            <div class="product-each">
                                <a href="javascript:;">
                                <h5 style="text-align: center">
                                    <a href="javascript:;">网易云音乐镂空笔记本</a>
                                </h5>
                                </a>
                                <p>¥35</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

































